@import url('https://fonts.googleapis.com/css2?family=Tillana:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Montserrat, sans-serif;
}

* {
  box-sizing: border-box;
}

.primary-color {
  color: #753bbd;
  background-color: #753bbd;
}

.secondary-color {
  color: #00b388;
  background-color: #00b388;
}

.logo {
  border-radius: 50%;
}

/* NAVBAR */

.navbar-style{
  box-shadow: 0px 0px 3px #00b388;
  ;
}

.a-navbar {
  width: 120px;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 2px;
  font-size: x-large;
  color:#753bbd !important;
}

.a-navbar:hover {
  color: #753bbd;
  background-color: #00b388;
  transform: scale(1.1);
  transition: 0.3s;
}

.main {
  margin-top: 121px;
}

/* CAROUSEL */

.btn-carousel {
  border-radius: 25px !important;
}

/* CARD */

.card {
  border: none !important;
}
.card-title {
  color: #fff;
  font-weight: 900;
  font-size: 2rem !important;
  text-align: center;
}
.card-img,
.card-img-top {
  border-radius: 2rem !important;
}
.card-overlay {
  background-color: hsla(0, 9%, 11%, 0.37);
  display: flex;
  align-items: center;
}
.card-img-overlay {
  border-radius: 2rem !important;
}


/* CARTA */

.div-cifra{
  padding: 0 2.3em 0px 2.3em;
}

.caja-cifra{
  padding-top: 2em;
  display: flex;
  flex-wrap: wrap;
}

.icono-cifra{
  font-size: 1.7em;
  margin-bottom: 0.4em;
}

.num-letra-cifra-p{
  font-size: 1em;
  font-weight: 600;
}

.descrip-cifra{
  margin: 1.3em 1.2em 2.3em 1.2em;
  text-align: center;
}

.titulo-cifra{
  color: black;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5em;
}

.contenedor-cifras{
  display: flex;
  text-align: center;
}

.div-cifra-center{
  align-self: center;
}

.linea-vertical{
  border-right: 1px solid #000;
  margin: 0 1em 0 1em;
}

.div-carta{
  background-color: #d5c0ecde;
  border-radius: 2em;
  padding: 2rem 4rem !important;
  margin: 0 2em 0 2em !important;
  box-shadow: 3px 3px #753bbd;
}

.icono-carta{
  font-size: 3em;
}

.p-carta{
  font-family: 'Tillana', cursive;
}

/* VIDEO */

.div-video {
  text-align: center;
  display: flex;
  margin: 6em 0 2em 0em;
  justify-content: center;
  text-decoration-line: overline;
  text-decoration-thickness: from-font;
  flex-wrap: wrap;
}

.video-icono {
  color: #00b388;
}

.boton-video {
  color: white;
  background-color: #753bbd;
  text-decoration: none;
  border: 0;
  border-radius: 25px;
  margin: 1em 1em 0em 0px;
  padding-bottom: 0.2em;
}

.boton-video:hover {
  background-color: #00b388;
}

.video-yout {
  margin: 0 1em 0.5em 1em;
}

.div-btn-video {
  margin-left: 1em;
}

.video-text {

  margin: 0.2em 0.2em 0.2em 0.2em;
}

.video-h4 {
  padding-top: 0.5em;
}

/* ALIANZAS */

.div-prin-alianzas {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10em;
  margin-right: 10em;
  padding-top: 0em;
  padding-bottom: 3em;
}

.titulo-alianzas {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.img-li {
  margin: 0 20px;
  list-style: none;
  padding: 0;
  margin-top: 2em;
}


/* FOOTER Y PROGRAMADORAS*/

.programadoras{
  background: #452d63;
}

.prog-icon{
  color: white;
  margin-right: 3px;
}

.p-linkedin{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3px !important;
  margin-top: 3px !important;
  font-size: 14px;
}

.linkedin-center{
  display: flex;
  justify-content: center;
}

.footer {
  background: #753bbd;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  flex: 1;
  position: relative;
  width: 100%;
  bottom: 0;
}

.footer-icono {
  color: #45dab2;
}

.letra-footer,
.text-white {
  color: white;
  text-decoration: none !important;
}

.footer-cita {
  text-decoration: underline !important;
}


/*FORMULARIO*/
.form-container{
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; 
  
  }
  .form-container::before{  
    content: "";
    background-image: url("../public/images/cards/carousel11.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.25;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
  .input-form{
    width: 350px ;
    margin-bottom: 0.8rem;
    border-radius: 5px;
    border: transparent;
    filter: drop-shadow(0.10rem 0.10rem 0.2rem rgba(0, 0, 0, 0.5));
  }
  .btn-form{
    width: 350px ;
    height: 35px;
    background-color: #753bbd;
    color:#fff;
    margin-bottom: 0.8rem;
    border-radius: 5px;
    border: transparent;
    filter: drop-shadow(0.10rem 0.10rem 0.2rem rgba(0, 0, 0, 0.5));
    }
    .btn-form:hover{
      background-color:#00b388;
    }
  .checkbox-form{
    width: 20px ;
    height: 20px;
    background-color: #753bbd;
    color:#fff;
    margin-bottom: 0.8rem;
    border-radius: 5px;
    border: transparent;
    filter: drop-shadow(0.05rem 0.05rem 0.1rem rgba(0, 0, 0, 0.5));
  }

  /*PHOTO GALLERY*/
  
  .gallery-btn {
    width: 150px !important;
    height: 120px;
    outline: none;
    border: transparent;
    border-radius: 10px;
    background-color: #00b388;
    color: #fff;
    font-size: 2rem !important;
    line-height: normal;
    margin: 2rem;
  }
  
  .styles-module_close__2I1sI {
    top: 90% !important;
    right: 50% !important;  
  }
  /* .styles-module_image__2hdkJ{
    margin-top: 200px !important;
  } */
  

/*PÁGINA PROYECTO*/

.cajaPrincipal-objetivos{
  padding: 0px 10% 5% 10%;
  text-align: center;
  background-color: #f9fafb;
 }

.tab-obj{
  padding: 1% 10% 7% 10%;
  background-color: #efdfff;
  text-align: start;
  border: ridge;
}

.title-proyectos{
  padding-top: 5%;
  color: #592e8f;
}

.title-ejes{
  margin: 8% 8% 4% 8%;
  font-style: italic;
  color: #753bbd;
  text-decoration: overline;
  text-decoration-color: #00b388;
}

.tabs-style{
  background-color: #83d8c56b;
  font-family: sans-serif;
}

.cajaPrincipal-especiales{
  padding: 0px 10% 10% 10%;
  text-align: center;
  background-color: #f9fafb;
}

.title-especiales{
  padding: 3% 8% 1% 8%;
  font-style: italic;
  color: #753bbd;
  text-decoration: overline;
  text-decoration-color: #00b388;
}

.text-proyectos{
  color: #7018afdc;
}

.contenedor-card{
  display: inline-flex;
  background-color: #81cacc70;
}

.tarj-espec{
  background-color: whitesmoke;
  box-shadow: 4px 4px 4px 0px #ac0e9973;
 }

 .card-espec{
  text-align: initial;
 }

 
/* MEDIA QUERIES */

@media screen and (min-width: 1025px) and (max-width: 2500px) {
  .div-btn-video{
    padding-left: 4em;
  }
  .contenedor-card{
    display: inline-flex !important;
    width: 80% !important;
  }
}

@media (max-width: 1200px) {
  .card-title {
    font-size: 1.5rem !important;
  }
}

@media (max-width: 1023px) {
  .card-title {
    font-size: 1.2rem !important;
  }
  .card-body {
    padding: 0 !important;
  }
  .card-img-overlay {
    padding: 0 !important;
  }
}

@media (max-width: 768px) {
  .div-carta{
    margin: 0 0.5em 0 0.5em !important;
     padding: 0rem 2rem !important;
  }
  .icono-carta{
    margin: 0.5em 0 0.5em 0;
  }
  .linea-vertical{
    border-right: none;
  }
  .carousel-caption{
    padding: 0 !important;
  }
  .rowFooter {
    padding-right: 0px;
    padding-left: 17px;
    width: 100%;
  }
  .divFooter {
    width: 100% !important;
    margin-top: 3% !important;
  }
  .letra-footer,
  .text-white {
    font-size: 14px;
  }
  .card-title {
    font-size: 1.2rem !important;
  }
  .div-prin-alianzas {
    margin-left: 0em;
    margin-right: 0em;
    padding-bottom: 2em;
  }
  .img-li {
    margin: 0 16px;
    margin-top: 1em;
  }
  .div-video {
    margin-top: 3em;
  }
  .caja-cifra {
    padding-top: 0;
  }
  .gallery-image{
    height: unset !important;
    width: 250px !important
  }
  .photo-container{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .p-linkedin{
    justify-content: flex-start;
    font-family: ui-monospace;
  }
  .linkedin-center{
    display: flex;
    justify-content: flex-start;
  } 
  .cajaPrincipal-objetivos {
    padding: 0px 4% 5% 4%;
 }
 .card-espec{
  padding: 0px 6px 0px 7px;
 }
}

@media (max-width: 767px) {
  .contenedor-card{
    width: 95%;
    display: inline-flex !important;
  }
  .title-ejes {
    margin: 9% 8% 6% 8%;
 }
}

@media (max-width: 480px) {
  .card-title {
    font-size: 0.8rem !important;
  }
  .carousel-title{
    font-size: 1.3rem !important;
  }
  .carousel-text{
    font-size: 1rem !important;
  }
  .carousel-indicators{
    margin: 0 !important;
  }
  .title-especiales{
    padding: 8% 2% 0% 0% !important;
  }
}

.line-deco {
  width: 30px;
  height: 5px;  
  background-color: #00b388;
}

@media (max-width: 1200px) {
.display-none{
  display: none;
  }
}

@media (max-width: 992px) {
  .a-navbar {   
    background-color: transparent;
  }
  .a-navbar:hover {
    color:#753bbd!important;
    background-color: transparent;
  }
}