html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

h5, p, a{
  color: white;
  text-decoration: none !important;
}

.footer-icono{
  color: #45DAB2;
}


@media (max-width: 767px){
  .rowFooter{
    padding-right: 0px;
    padding-left: 17px;
    width: 100%;
  }
  .divFooter{
    width: 100% !important;
    margin-top: 3% !important;
  }

  h5, p, a{
    font-size: 14px;
  }
}

